<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <h1>Thank you for your order, <%= @user.first_name %></h1>
      <h3>Order Details</h3>
         <table class="table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Image</th>
        <th>Description</th>
        <th>Quatity</th>
        <th>Total</th>
        <th></th>
      <tr>
    </thead>
    <% @order_total = 0 %>
    <% @order.line_items.each do |product| %>
      <tr>
        <td class="title"><%= product.product.name %></td>
        <td class="image"><%= image_tag product.product.image %></td>
        <td><%= product.product.description %></td> 
        <td><%= product.quantity %></td>
        <td><%= humanized_money_with_symbol product.quantity * product.product.price_cents/100%></td>
      <% @order_total += (product.quantity * product.product.price_cents/100) %>
      </tr>
    <% end %>
      <tr>
        <td><b>Total</b></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b><%= humanized_money_with_symbol @order_total %></b></td>
      </tr>
    </table>
  </body>
</html>